html,
body {
  font-family: dejavu sans mono;
}

canvas {
  display: block;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /*background-image: url("/betelguese.png");*/
}
#container {
  font-weight: normal;
  font-size: 20px;
  width: 800px;
  background-color: rgb(0, 0, 0);
}
#stats {
  color: rgb(83, 80, 255);
  width: 45%;

  font-weight: normal;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

div {
  margin: 0;
  padding: 0;
  border: 0;

  /*background-color: black;*/
}
#score {
  width: 16.66%;
  color: red;
}
.score {
  color: red;
  width: 30%;
  float: left;
}
#lives {
  width: 16.66%;
  color: green;
}
#hiscore {
  width: 10%;
  color: purple;
}
.hiscore {
  color: purple;
  width: 25%;
}
