html,
body {
  font-family: dejavu sans mono;
}

canvas {
  display: block;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /*background-image: url("/betelguese.png");*/
}
#stats {
  background-color: rgb(0, 0, 0);
  color: rgb(83, 80, 255);
  width: 800px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  background-color: black;
  display: inline-block;
}
#score {
  width: 10%;
  color: red;
}
.score {
  color: red;
}
#lives {
  width: 8%;
  color: green;
}
#hiscore {
  width: 10%;
  color: purple;
}
.hiscore {
  color: purple;
}
